.homeContainer {
    display: flex;
    width: 100%;
  }
  
  .leftSideBar {
      flex: 2;
  }
  
  .rightSideBar {
      flex:3
  }
  
  #dark {
      background-color: black;
  }
  
  @media only screen and (max-width: 425px) {
      .rightSideBar,
      .leftSideBar {
          display: none;
      }
  
  }
  