.sidebar {
  flex: 2;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  font-size: 18px;
}

#dark .sideBarLinks {
  color: white;
}

#dark .sidebar {
  color: white;
}

.shareInput {
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media only screen and (width: 768px) {
  .sidebarWrapper {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
  }

  .sidebarIcon {
    height: 5px;
    width: 5px
  }

  .sidebarButton {
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
}

.sideBarLinks {
  color: black;
  text-decoration: none;
}

.sideBarLinks:hover {
  color: #343a40
}

#dark .sideBarLinks:hover {
  color: #343a40
}

.sidebarListItem:hover {
  color: #343a40;
  cursor: pointer;
}

#dark .sidebarListItem:hover {
  color: #343a40;
  cursor: pointer;
}