.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebarFriend {
  display: flex;
  justify-content: space-between;
}

#dark .sidebarFriendName {
  color: white;
}

.friendLinks {
  color: black;
  text-decoration: none;
}

.friendLinks:hover {
  color: #343a40
}

.message-icon {
  color: #343a40;
}

#dark .message-icon {
  color: white;
}